{% extends "base.html" %}
{% block content %}
	<div class="row">
	<div class="col-sm-4 col-md-4 col-lg-4 text-center">
	  <h5>Boldness 1</h5>
	  <ul class="list-group">
	    <li class="list-group-item">Home Item 1</li>
	    <li class="list-group-item">Home Item 2</li>
	    <li class="list-group-item">Home Item 3</li>
	  </ul>
	</div>
	<div class="col-sm-4 col-md-4 col-lg-4 text-center">
	  <h5>Boldness 2</h5>
	  <ul class="list-group">
	    <li class="list-group-item">Home Item 1</li>
	    <li class="list-group-item">Home Item 2</li>
	    <li class="list-group-item">Home Item 3</li>
	  </ul>
	</div>
	<div class="col-sm-4 col-md-4 col-lg-4 text-center">
	  <h5>Boldness 3</h5>
	  <ul class="list-group">
	    <li class="list-group-item">Home Item 1</li>
	    <li class="list-group-item">Home Item 2</li>
	    <li class="list-group-item">Home Item 3</li>
	  </ul>
	</div>
	</div>
  {% block footer %}
  {{ super() }}
  {% endblock %}
{% endblock %}
